*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 228, 228);
    box-shadow: 0px -5px 32px #333;
    height: 10vh;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 700;
    width: 65vw;
    
}


.add-book-button{
    cursor: pointer;
    z-index: 0;
}

.add-button{
    font-size: 1.6rem;
    cursor:pointer;
}

.add-button:hover{
    text-decoration: underline #333 2px;
}


.container{
position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.overlay{
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
}

.popup-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #e8e8e8;
    padding-top: 2rem;
    height: 50%;
    width: 20%;
    border-radius:30px;
    transform: translateY(0);
    opacity: 100%;
    transition: 0.25s ease-in;
}

input{
    font-size: 1.5rem;
    padding: 0 0 0 20px;
    width: clamp(200px, 25vw, 300px);
    height: 40px;
    color: #333;
    border: 1px solid #808080;
    border-radius: 1px 1px 2px 2px;
    margin: 0 auto 10px auto;

}

.library{
    height: 90%;
    width: 65vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.book{
    background-color: rgb(242, 241, 251);
    box-shadow: 0px 10px 32px #48484860;
    border-radius: 10px;
}

.hidden{
    transform: translateY(-50%);
    opacity: 0%;
}

